@import "styles/sass/main";

.Container {
  width: 100%;
  max-width: 1376px;
  height: 100%;
  padding: 0 64px;

  @media (max-device-width: $xl) {
    padding: 0 32px;
  }

  @media (max-device-width: $md) {
    padding: 0 16px;
  }
}
